*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CSS CODE media queryxs*/
main{
    height: calc(100vh - 100px);
}
.sidebar{
    width: 50px;
    background-color: black;
}

.main-content{
    width: calc(100% -50px);
}
.container-footer{
    background-color: rgb(40, 40, 40);
    height: 100px;
}






/*COMMON RULES*/

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}







/*MEDIA QUERY*/
@media screen and (min-width: 576px) {
   .sidebar{
    width: 200px;
   } 
   .main-content{
    width: calc(100% -200px);
}

}



@media screen and (min-width: 768px) {
    
}


@media screen and (min-width: 992px) {
    
}


@media screen and (min-width: 1200px) {
    
}