*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*debug*/

/*CSS CODE */
/* main code*/
.container-main{
    height: calc(100vh - 100px);
}
.sidebar{
    width: 50px;
    background-color: black;
}
.content{
    width: calc(100% - 50px);
    background-color: burlywood;
}
#cta{
    position: fixed;
    left: 50px;
    height: 100px;
    top: 0;
    z-index: 999;
    width: calc(100vw - 50px);
    background-color:red;

}
/* footer code */
.container-footer{
    background-color: rgb(40, 40, 40);
    height: 100px;
    width: 100%;
}






/*COMMON RULES*/

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.jc-between{
    justify-content: space-between;
}







/*MEDIA QUERY*/
@media screen and (min-width: 576px) {
   .sidebar{
    width: 200px;
   } 
   .content{
    width: calc(100% - 200px);
   }
   #cta{
   width: calc(100vw - 200px);
   left: 200px;
   }
}



@media screen and (min-width: 768px) {
    
}


@media screen and (min-width: 992px) {
    
}


@media screen and (min-width: 1200px) {
    
}