*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*debug*/

/*CSS CODE */
/* main code*/
.container-main{
    height: calc(100vh - 100px);
}
/***sidebar*****/
.sidebar{
    width: 50px;
    background-color: black;
}
.sidebar .information{
    height: calc(100% - 80px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}
.information .information-container{
    
    margin-left: 10px;
    margin-top: 10px;
}
.sidebar .login{
    height: 80px;
    background-color: azure;
}
.information .logo .logo-big{
    width: 150px;
    margin-bottom: 10px;
}

.information .information-container .icon-text{
    line-height: 40px;
}
.information .information-container .icon-text a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
}
.information .information-container .icon-text .description{
    color: white;
    vertical-align: middle;
    font-size: 13px;
    padding-top: 5px;
}
.information .information-container .icon-text a img{
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
 
}
.play-container{
    margin-left: 10px;
    margin-top: 30px;
}
.play-container .icon-text i{
    margin-top: 20px;
    width: 30px;
    font-size: 30px;
    color: white;

}
.play-container .icon-text .description{
  color: white;
  padding:5px;
  font-size: 15px;
  vertical-align: middle;
  padding-bottom: 20px;
}
.playlistname{
    overflow-y:scroll ;
}
.information .information-container .logo-big{
    display: none;
}
.information .information-container .icon-text .description{
    display: none;
}
.information .play-container{
    display: none;
}
/*** finesidebar*****/

.content{
    width: calc(100% - 50px);
    background-color: rgb(20, 25, 34);
}
#cta{
    position: fixed;
    left: 50px;
    height: 80px;
    top: 0;
    z-index: 999;
    width: calc(100vw - 50px);
    background-color:rgba(0,0,0,0.5);
}
#cta .upgrade a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    
}
#cta .upgrade{
    position: absolute;
    right: 0;
    top:30px;
}
.navigation{
    margin-top: 110px;
    text-align: center;
}
.navigation ul{
    list-style:none;
    line-height: 50px;
}
.navigation ul li a{
    text-decoration: none;
    color: rgb(123, 126, 130);
}
.navigation ul li{
    margin-left: 10px;
}
.title{
    margin-left: 10px;
    margin-top: 20px;
}
.title h2{
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}
.subtitle{
    margin-left: 10px;
    color: rgb(123, 126, 130);
}
.album{
    width: calc((100% / 2) - 20px);
    margin-left: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.album img{
    width: 100%;
}
.album h3{
    text-align: center;
    color: white;
    margin: 10px 0 ;
}
.album h5{
    text-align: center;
    color: rgb(123, 126, 130);
}
.row .album-radio img{
    object-fit: cover;
    width: 200px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 20px;
}
/* footer code */
.container-footer{
    background-color: rgb(40, 40, 40);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
}






/*COMMON RULES*/

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.jc-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}
.align-c{
    align-items: center;
}
.radio{
    border-radius: 100%;
}
.overflw{
    overflow-y: scroll;
}
.text-white{
    color: white;
}







/*MEDIA QUERY*/
@media screen and (min-width: 576px) {
   .sidebar{
    width: 200px;
   } 
   .content{
    width: calc(100% - 200px);
   }
   #cta{
   width: calc(100vw - 200px);
   left: 200px;
   }
   .information .information-container .logo-big{
    display: block;
}
.information .information-container .icon-text .description{
    display: inline-block;
    color: white;
    vertical-align: middle;
    font-size: 13px;
    padding-top: 5px;
}
.logo .logo-small{
    display: none;
}
.information .play-container{
    display: none;
    display: flex;
    flex-direction: column;
}



}



@media screen and (min-width: 768px) {
    .row .album{
        width: calc((100% / 4 ) - 10px);
    }
   
}


@media screen and (min-width: 992px) {
    .row .album{
        width: calc((100% / 6 ) - 20px);
        margin: 10px;
    }

}
@media screen and (min-width:1200px) {

}





