*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*CSS CODE */
/*************HOVER****************/

.album :hover{
    position: absolute;
    top: 0;
    left: 0;
}
.album:hover .overlay-img{
    display: block;
}
.album:hover .overlay-img i{
    display: block;
}
#cta .upgrade:hover a{
    color: white;
    font-size: 20px;
    border: 1px solid white;
    transition: 0.5s;
}
.navigation ul li a:hover{
    color: white;
    border-bottom: 2px solid lime;
}
.information .information-container .icon-text img:hover{
    width: 30px;
    transition: 0.5s;
}
.information .information-container .icon-text span a:hover {
    color: white;
    width: 30px;
}
.play-container .icon-text i:hover {
    color: white;
    font-size: 35px;
    transition: 0.5s;
}
.play-container .icon-text .description:hover{
    color: white;
}
.play-container .playlistname .playlist-row a:hover{
    color: white;
    font-size: 16px;
}
.login .install span img:hover{
    width: 25px;
    transition: 0.3s;
}
.left-footer .footer-img:hover  img{
    width: 60px;
}
.container-footer .left-footer .footer-left-text span:hover {
    color: white;
    text-decoration: underline;
}
.container-footer .left-footer .footer-left-icons a:hover {
    color: white;
    font-size: 20px;
}
.center-footer span .play:hover {
    font-size: 45px;
}
.center-footer span .btn-pl:hover {
    font-size: 30px;
}
.player .time .percentual:hover .point-perce {
    display: block;
}
.player .time .percentual:hover {
    background-color: lime;
}
.right-footer .time .percentual:hover .point-perce{
    display: block;
}
.right-footer .time .percentual:hover {
    background-color: lime;
}
.right-footer .btn-pl-r a:hover{
    font-size: 20px;
}




/* main code*/

.container-main{
    height: calc(100vh - 100px);
}
/***sidebar*****/
.sidebar{
    width: 50px;
    background-color: black;
}
.sidebar .information{
    height: calc(100% - 80px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}
.information .information-container{
    
    margin-left: 10px;
    margin-top: 10px;
}
.sidebar .login{
    height: 80px;
}
.information .logo .logo-big{
    width: 150px;
    margin-bottom: 10px;
}
.play-container h5{
    margin-left: 10px;
}
.play-container{
    overflow-y: hidden;
}
.play-container .playlistname{
    overflow-y: scroll;
}

.information .information-container .icon-text{
    line-height: 30px;
}
.information .information-container .icon-text a{
    text-decoration: none;
    color: rgb(123, 126, 130);
    vertical-align: middle;
    margin-left: 10px;
}
.information .information-container .icon-text .description{
    color: white;
    vertical-align: middle;
    font-size: 13px;
    padding-top: 5px;
}
.information .information-container .icon-text a img{
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
 
}
.play-container{
    margin-left: 10px;
    margin-top: 30px;
}
.play-container .icon-text i{
    margin-top: 20px;
    width: 30px;
    font-size: 30px;
    color: rgb(123, 126, 130);
    margin-left: 10px;

}
.play-container .icon-text .description{
  color: rgb(123, 126, 130);
  padding:5px;
  font-size: 15px;
  vertical-align: middle;
  padding-bottom: 20px;
}
.playlistname{
    overflow-y:scroll ;
}
.information .information-container .logo-big{
    display: none;
}
.information .information-container .logo-small{
    margin-right: 10px;
}
.information .information-container .icon-text a{
    margin: auto;
}
.information .information-container .icon-text .description{
    display: none;
}
.information .play-container{
    display: none;
}
.play-container .playlistname .playlist-row a{
    color: rgb(123, 126, 130);
    line-height: 30px;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
}
/*sidebar bottom*/
.login{
    display: flex;
    flex-direction: column;
}
.login .install span img {
    width: 20px;
    margin-left: 10px;
}
.login .install .hide  {
    display: none;
}
.login .user .hide{
    display: none;
}
.login .user span img {
    width: 20px;
    margin-left: 12px;
    background-color: rgb(123, 126, 130);
    border-radius: 100px;
    margin-top: 20px;
}

/*** finesidebar*****/

/**OVERLAY*/
.wrapper{
    position: relative;
    display: inline-block;
}
.overlay-img{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.wrapper .overlay-img i {
    color: white;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/** FINE OVERLAY*/
.content{
    width: calc(100% - 50px);
    background-color: rgb(20, 25, 34);
}
#cta{
    position: fixed;
    left: 50px;
    height: 80px;
    top: 0;
    z-index: 999;
    width: calc(100vw - 50px);
    background-color:rgba(0,0,0,0.5);
}
   
#cta .upgrade a{
    text-decoration: none;
    color: rgb(123, 126, 130);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    border: 1px solid rgb(123, 126, 130);
    padding: 10px;
    
}
#cta .upgrade{
    position: absolute;
    right: 0;
    top:30px;
    width: 300px;
}
.navigation{
    margin-top: 110px;
    text-align: center;
}
.navigation ul{
    list-style:none;
    line-height: 50px;
}
.navigation ul li a{
    text-decoration: none;
    color: rgb(123, 126, 130);
}
.navigation ul li{
    margin-left: 20px;
}
.title{
    margin-left: 10px;
    margin-top: 20px;
}
.title h2{
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}
.subtitle{
    margin-left: 10px;
    color: rgb(123, 126, 130);
}
.album{
    width: calc((100% / 2) - 20px);
    margin-left: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.album img{
    position: relative;
    width: 100%;
}
.album h3{
    text-align: center;
    color: white;
    margin: 10px 0 ;
}
.album h5{
    text-align: center;
    color: rgb(123, 126, 130);
}
.album-radio img{
    object-fit: cover;
    width: 200px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 20px;
}
/* footer code */
.container-footer .left-footer{
    display: none;
}
.container-footer .right-footer{
    display: none;
}
.container-footer{
    background-color: rgb(40, 40, 40);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
}

.left-footer{
    margin-left: 8px;
}
.left-footer .footer-img img{
    width: 40px;
}

.container-footer .left-footer .footer-left-text{
    margin-left: 10px;
    line-height: 17px;
}
.container-footer .left-footer .footer-left-text h5{
    color: white;
}
.container-footer .left-footer .footer-left-text span{
    color: rgb(123, 126, 130);
    font-size: 10px;
}
.container-footer .left-footer .footer-left-icons a{
    color: rgb(123, 126, 130);
    margin-left: 20px;
    line-height: 20px;
    font-size: 17px;
}
.center-footer span .play{
    color: white;
    margin-right: 15px;
    font-size: 40px;
}
.center-footer span .btn-pl{
    color: white;
    margin-right: 15px;
    font-size: 25px;

}
.player{
    display: flex;
    align-items: center;
    margin: auto;
}
.player .time{
    border: 1px solid white;
    width: 400px;
    height: 8px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(123, 126, 130);
}
.player .time .percentual{
    height: 100%;
    background-color: white;
    position: relative;
    animation-name: scroll;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
.player .time .percentual .point-perce{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: -5px;
    display: none;
}
.number-pl{
    color: white;
    font-size: 10px;
}
.right-footer{
    margin-right: 10px;
}
.right-footer .btn-pl-r a{
    color: white;
    margin: 5px;
}
.right-footer .time {
    border: 1px solid white;
    width: 100px;
    height: 10px;
    border-radius: 10px;
    margin: 10px; 
   
}
.right-footer .time .percentual{
    width: 50%;
    height: 100%;
    background-color: white;
    position: relative;    
}
.right-footer .time .percentual .point-perce{
    width: 20px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: -5px; 
    display: none;
}

/*COMMON RULES*/

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.jc-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}
.align-c{
    align-items: center;
}
.radio{
    border-radius: 100%;
}
.overflw{
    overflow-y: scroll;
}
.text-white{
    color: white;
}
/*MEDIA QUERY*/
/*MEDIA QUERY 576PX*/
@media screen and (min-width: 576px) {
   .sidebar{
    width: 200px;
   } 
   .content{
    width: calc(100% - 200px);
   }
   #cta{
   width: calc(100vw - 200px);
   left: 200px;
   }
   .information .information-container .logo-big{
    display: block;
   }
   .information .information-container .icon-text a{
    margin-left: 10px;
   }
   .information .information-container .icon-text .description{
    display: inline-block;
    color: white;
    vertical-align: middle;
    font-size: 13px;
    padding-top: 5px;
}
.logo .logo-small{
    display: none;
}
.information .play-container{
    display: none;
    display: flex;
    flex-direction: column;
}
.login .install{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid white;
    padding: 5px;
    width: 90%;
    margin: auto;
    
}
.login .install .hide  {
    display: block;
}
.login .install .hide a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 13px;
}
.login .install span img{
    vertical-align: middle;  
    width: 15px; 
}
.login .user{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
    
}
.login .user .hide{
    display: block;
}
.login .user .hide a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    vertical-align: middle;
}
.login .user span img{
    vertical-align: middle;  
    width: 25px; 
}
.border{
    width: 100%;
    border-left: 3px solid lime;
    margin: -10px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.border .icon-text a img{
    margin-left: 8px;
}
.container-footer .left-footer{
    display: block;
    display: flex;
}
.container-footer .right-footer{
    display: block;
    display: flex;
}




}
/*MEDIA QUERY 768PX*/
@media screen and (min-width: 768px) {
    .row .album{
        width: calc((100% / 4 ) - 20px);
        margin: 10px;
    }


}
/*MEDIA QUERY 992PX*/
@media screen and (min-width: 992px) {
    .row .album{
        width: calc((100% / 6 ) - 20px);
        margin: 10px;
    }
    .row .album-radio{
        width: calc(35% / 2);
    }
}
@media screen and (max-height: 400px){
    .sidebar .information {
        height: 100%;
    }
    #cta{
        display: none;
    }   
}

/*********ANIMATION***********/
@keyframes scroll{
    0%   { width: 0%;}
    25%  { width: 30%;}
    50%  { width: 60%;}
    75%  { width: 90%;}
    100% { width: 100%;}
}





